/*Apply all*/
*{
	font-family: georgia;
}

body{
	display:block;
	border: 2px solid black;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

div{
	display: block;
	border: 2px solid red;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	
}

/* IMG qualities */

img{
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	display: block;
	border: 2px solid black;
	box-shadow: 10px 10px 5px gray;	
}

figure{	
	border: 2px solid red;
	border-radius: 25px;
	margin: auto;
	padding: 0.5em;
}

figcaption{	
	font-style: italic;
	text-align: center;
	font-size: 90%;
}
