/*Apply all*/
*{
	font-family: georgia;
}

body{
	display:block;
	border: 2px solid black;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

div{
	display: block;
	border: 2px solid red;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	
}

/* Menu qualities */


li.hmenu{
	display: inline-block;
	margin: 10px 20px 10px 20px;
	
}

a:link.menu, a:visited.menu{
	text-decoration: none;
	font-weight: 500;
	color: black;
}

a:hover.menu{
	font-weight: 900;
}

a:active.menu{
	font-weight: 900;
	color: red;
}

/* IMG qualities */

img{
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	display: block;
	border: 2px solid black;
	box-shadow: 10px 10px 5px gray;	
}

figure{	
	border: 2px solid red;
	border-radius: 25px;
	margin: auto;
	padding: 0.5em;
}

figcaption{	
	font-style: italic;
	text-align: center;
	font-size: 90%;
}

.week{
	color: red;
	font-style: bold;
}

.phase{
	color: red;
	font-style: bold;
}

.day{
	color: red;
	font-style: bold;
}
