
*{

	font-family: georgia;

}
/*
body{
	display:block;
	border: 2px solid black;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
*/
/* TEXT qualties */

p{
	font-size: 100%;
	line-height: 2.0;
	text-indent: 15px;
	text-align: justify;
}

h1{
	font-size: 160%;
}

h2{
	font-size: 125%;
}

#mkbold{
	font-weight: bold;
}
.mkunderline{
	text-decoration: underline;
}

.mkbold{
	font-weight: bold;
}



/* IMG qualities */

img{
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	display: block;
	border: 2px solid blue;
	box-shadow: 10px 10px 5px gray;

}

figure{
	border: 2px solid green;
	border-radius: 25px;
	margin: auto;
	padding: 0.5em;
}

figcaption{

	font-style: italic;
	text-align: center;
	font-size: 90%;
}
